{% extends '@App/base/base.html.twig' %}


{% block content %}
<h1>Formulaire Auteur</h1>
    <div class="offset-5 mt-5 formulaire">
        {{ form(formauteur) }}

        <br>
        <a href="{{ path('auteur') }}"><button>retour au choix des auteurs</button></a>

    </div>
{% endblock %}