{% extends '@App/base/base.html.twig' %}



{% block content %}


    {% for result in results  %}

        <p>{{ result.nom  }}</p>




    {% endfor %}

    <a href="{{ path('auteur') }}">Retour au choix du pays</a>

{% endblock %}